# === Ignorar carpeta target en backend ===
backend/target/

# === Maven Wrapper ===
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# === IntelliJ IDEA ===
.idea/
*.iml
*.ipr
*.iws

# Permitir 
!.idea/modules.xml

# === Eclipse ===
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# === NetBeans ===
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
!**/src/main/**/build/
!**/src/test/**/build/

# === VS Code ===
.vscode/

# === Mac OS ===
.DS_Store

# === Node.js / frontend ===
**/node_modules/
**/dist/
**/build/
.env
.env.local
